html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 80vw;
    margin: 30px auto;
    max-width:100%;
    }
    
  header{
    text-align:center;
    color:white;
    padding:200px;
    position:relative;
  }

  img{
    max-width:100%;
  }

#logo{
  max-width:100%;
  height:auto;
  text-align:center;
}

nav ul{
  display:flex;
  justify-content: space-around;
  font-size:30px;
}

#team{
  display:grid;
  grid-template-columns:repeat(2,2fr);
  background-color: #FFE6EA;
}

#team img{
  max-width:100%;
}

#services{
  border: 20px;
}

section,p, #services ul,ol,h2,h3,h4,h5,h6{
  border:2px solid #ccc;
  margin:20px;
  padding:20px;
}

article.post h2{
  color:black;
}

/*---------NAVIGATION---------*/
header.primary nav ul {
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0;
  max-width:900px;
  margin:20px auto;
}

header.primary nav li {
  list-style-type:none;
  padding:0;
  width:20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color:black;
  text-decoration:none;
  background-color:black;
  background-color:#FFE6EA;
  padding:8px 16px;
  border-radius:10px;
  transition:0.5s;
  display:block;
}

header.primary nav a:hover,
header.primary nav a:active {
  color:white;
  background-color:black;
}