body{
  font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 80vw;
    margin: 40px auto;
    max-width: 800px;
    }
    
  header{
    text-align:center;
    color:white;
    padding:200px;
    position:relative;
  }

  img{
    max-width:100%;
  }
  /*  header.primary{
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  do this if wanting logo on left side of nav
  */
  
#logo{
  max-width:100%;
  height:auto;
  text-align:center;
}

nav ul{
  display:flex;
  justify-content: space-around;
  font-size:30px;
}

#team{
  display:grid;
  grid-template-columns:repeat(1,4fr);
}

article.post h2{
  color:black;
}